.employee{
    padding: remy(15);
    width: remy(400);
    &__data{
        padding-left: remy(15);
        font-size: remy(18);
    }
    &__header{
        font-size: remy(25);
    }
    &__name{
        background: transparent;
    }
}